.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  background-color: $dark-gray;
  opacity: 0.5;

  &__logo {
    text-decoration: none;

    &-image {
      width: 104px;
      height: 32px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 15px;

    &-link {
      @include link($white);

      &_active {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  &__link {
    @include link($white);
  }
}
