.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 70px 0 10px 0;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
    padding-top: 10px;
  }

  @media screen and (max-width: 480px) {
    position: relative;
    bottom: 50px;
  }

  &__image {
    width: 85%;
    height: 85%;

    @media screen and (max-width: 768px) {
      position: absolute;
      right: 25%;
      width: 75%;
      height: 75%;
    }

    @media screen and (max-width: 480px) {
      position: absolute;
      left: 1%;
      width: 60%;
      height: 60%;
    }
  }

  &__line {
    position: absolute;
    right: 70%;
    margin-bottom: 10%;

    @media screen and (max-width: 768px) {
      right: 92%;
    }

    @media screen and (max-width: 480px) {
      margin-top: 50%;
    }
  }

  &__subtitle {
    position: absolute;
    left: 69%;
    margin-bottom: 10%;
    font-size: 28px;
    font-family: $roboto;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @media screen and (max-width: 768px) {
      left: 66.5%;
      margin-bottom: 15%;
      font-size: 22px;
      font-weight: 300;
    }

    @media screen and (max-width: 480px) {
      left: 60%;
      margin-bottom: 16%;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  &__title {
    position: absolute;
    left: 66%;
    font-size: 104px;
    font-family: $roboto;
    font-weight: 400;
    letter-spacing: 25px;
    color: $white;

    @media screen and (max-width: 768px) {
      left: 64%;
      font-size: 74px;
    }

    @media screen and (max-width: 480px) {
      left: 59%;
      font-size: 38px;
      letter-spacing: 8px;
    }
  }

  &__text {
    position: absolute;
    left: 10%;
    margin-top: 26%;
    font-size: 28px;
    font-family: $roboto;
    font-weight: 500;
    line-height: 1.1;
    color: $white;

    @media screen and (max-width: 768px) {
      left: 35%;
      bottom: 5%;
      font-size: 24px;
      text-align: right;
    }

    @media screen and (max-width: 480px) {
      font-size: 24px;
    }
  }

  &__copyright {
    margin-left: 70%;
    font-size: 20px;
    font-family: $roboto;
    font-weight: 600;
    color: $white;

    @media screen and (max-width: 768px) {
      margin: 75% 0 0 50%;
    }

    @media screen and (max-width: 480px) {
      margin-top: 200%;
      font-size: 20px;
    }
  }
}
