@import "variables";
@import "mixin";
@import "reset";
@import "base";
@import "header/header";
@import "main/main";
@import "main/hero";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/background.png");
  background-size: 240%;
}

button {
  cursor: pointer;
}
