@import 'variables';
@import 'mixin';
@import 'reset';
@import 'header';
@import 'hero';

body {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
