.about {
  padding: 8% 0 4% 0;
  background-color: rgba($gray, 0.25);
  backdrop-filter: blur(20px);

  @media screen and (max-width: 768px) {
    padding: 8% 2%;
  }

  @media screen and (max-width: 480px) {
    padding: 18% 6%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    width: 290px;
    height: 90px;

    @media screen and (max-width: 768px) {
      width: 158px;
      height: 48px;
    }

    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &__line {
    width: 224px;
    height: 2px;
    background-color: $white;

    @media screen and (max-width: 768px) {
      width: 140px;
    }

    @media screen and (max-width: 480px) {
      margin: 40px 0 20px 0;
      order: 2;
    }
  }

  &__title {
    font-size: 48px;
    font-family: $font-roboto-sans;
    font-weight: 300;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: $white;

    @media screen and (max-width: 768px) {
      font-size: 32px;
      letter-spacing: 5px;
    }

    @media screen and (max-width: 480px) {
      letter-spacing: 2px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-left: 58%;
    gap: 25px;

    @media screen and (max-width: 768px) {
      margin: 2% 0 0 28%;
    }

    @media screen and (max-width: 480px) {
      margin: 2% 0 0 0;
      text-align: center;
    }

    &-subtitle {
      font-size: 30px;
      font-family: $font-roboto-sans;
      font-weight: 500;
      color: $white;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    &-text {
      font-size: 20px;
      font-family: $font-roboto-sans;
      font-weight: 500;
      line-height: 1.2;
      color: $white;

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__text {
    margin-top: 80px;
    font-size: 20px;
    font-family: $font-roboto-sans;
    font-weight: 600;
    text-align: right;
    color: $white;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }

    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}
