.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  background-color: #13131580;
}

.logo {
  text-decoration: none;
}

.logo__image {
  width: 104px;
  height: 32px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__link {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.header__link_active {
  font-size: 20px;
  font-weight: 600;
}
